@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* chrome://browser/content/browser.xul */

/* Remove things */
.tabbrowser-tab:not(:hover) .close-icon,
#pageActionButton,
#forward-button[disabled="true"],
#back-button[disabled="true"],
#reload-button[disabled="true"],
.private-browsing-indicator {
    display: none !important;
}

/* Hide context menu items http://kb.mozillazine.org/UserChrome.css_Element_Names/IDs */
#context-sendimage,
#context-setWallpaper,
#context-setDesktopBackground,
#context-bookmarklink,
#context-navigation {
    display: none !important;
}

#TabsToolbar-customization-target {
    color: #ffffff !important;
    background-color: #000000 !important;
}

/*----Container tweaks----*/

/*Color mods*/
/*Change the color of the tab line of container tabs*/
.tabbrowser-tab[usercontextid] .tab-line[selected="true"] {
    --tab-line-color: var(--identity-tab-color) !important;
}

.tabbrowser-tab[usercontextid]:not([selected]):hover .tab-line {
    --tab-line-color: var(--identity-tab-color) !important;
}

/*Smaller tab font*/
.tabbrowser-tab label {
    font-size: 85% !important;
}

/* Remove rounded tabs in Proton */
.tab-background, #scrollbutton-up, #scrollbutton-down {
    border-radius: 0px !important;
    margin-block: 0px !important;
}

.tabbrowser-tab {
    /* Remove padding between tabs */
    padding-left: 0 !important;
    padding-right: 0 !important;

    /* Separator line style */
    border-right: 1px dotted white !important;
}

/* Make tab overflow arrows behave */
#scrollbutton-up, #scrollbutton-down {
    outline: 1px dotted white !important;
    padding: 0px 2px !important;
}
