#!/bin/bash
# File: ~/.functions

a() {
    "$@"
    local e=$?
    [ $e != 0 ] && local urgency='--urgency=critical'

    notify-send $urgency "$*" "Process completed."
    return $e
}

cd() {
    [ $# -eq 0 ] && DIR=${HOME} || DIR=$1
    builtin pushd "${DIR}" > /dev/null
}

pb() {
    curl -F "file=@${1:--}" https://0x0.st/
}

# create and move into directory
mkcd() {
    mkdir -p "$1" && cd "$1" || return
}

# move to directory and list its contents
lcd() {
    cd "$1" && ls || return
}
