#!/bin/bash
# File: ~/.functions

a() {
    "$@"
    local e=$?
    [ $e != 0 ] && local urgency='--urgency=critical'

    notify-send $urgency "$*" "Process completed."
    return $e
}

cd() {
    [ $# -eq 0 ] && DIR=${HOME} || DIR=$1
    builtin pushd "${DIR}" > /dev/null
}

pb() {
    curl -F "file=@${1:--}" https://0x0.st/
}

genpasswd() {
    tr -dc "a-zA-Z0-9-_!@#$%^&*()_+{}|:<>?=" < /dev/urandom | head -c "${1:-20}"
    printf "\n"
}

genword() {
    shuf -n"${1:-1}" /usr/share/dict/words
}

weather() {
    curl -sS http://wttr.in/"$1" | head -n -2
}

# create and move into directory
mkcd() {
    mkdir -p "$1" && cd "$1" || return
}

# move to directory and list its contents
lcd() {
    cd "$1" && ls || return
}

shred() {
    if [ $# -gt 0 ]; then
        find "$@" -type f -print0 \
            | xargs -0 /usr/bin/shred --random-source=/dev/urandom --remove=wipesync --verbose --zero \
            && rm -rf "$@"
        sync
    fi
}

