mpv/.config/mpv/watch_later
vim/.config/nvim/.init.vim-rplugin~
vim/.config/nvim/.netrwhist
vim/.config/nvim/_backup
vim/.config/nvim/_swap
vim/.config/nvim/_undo
vim/.config/nvim/autoload
vim/.config/nvim/local
vim/.config/nvim/plugged
vim/.config/nvim/spellfile.add*
vim/.config/nvim/vimrc
