dotfiles/X/mpv/watch_later/*
dotfiles/console/irssi/away.log
dotfiles/console/irssi/config
dotfiles/vim/.init.vim-rplugin~
dotfiles/vim/.netrwhist
dotfiles/vim/_backup
dotfiles/vim/_swap
dotfiles/vim/_undo
dotfiles/vim/autoload
dotfiles/vim/local
dotfiles/vim/plugged
dotfiles/vim/spellfile.add*
dotfiles/vim/vimrc
