[user]
    email = "jeffrey@icurse.nl"
    name = Jeffrey Lin
[push]
    default = current
    recurseSubmodules = check
[core]
    autocrlf = input
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[branch]
    autosetuprebase = always
    autosetupmerge = true
[alias]
    all = "!f() { ls -R -d */.git | xargs -I{} sh -c \"echo {} && git -C {}/../ $1\"; }; f"

    ls = log --pretty=format:"%C(yellow)%h\\ %C(magenta)%G?%Cred%d\\ %Creset%s%Cgreen\\ [%aN]" --decorate
    ll = log --pretty=format:"%C(yellow)%h\\ %C(magenta)%G?%Cred%d\\ %Creset%s%Cgreen\\ [%aN]" --decorate --numstat
    wdiff = diff --color-words

    dc = diff --cached

    rbase = rebase --autosquash --autostash
    pushf = push --force-with-lease

    ctags = !.git/hooks/ctags
    anw = !git diff -U0 -w --no-color -- \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero "#"
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  rewrite-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch -f --env-filter \"if [ $`echo $VAR` = \\\"$OLD\\\" ]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f "
[diff]
    renames = copies
    mnemonicprefix = true
    wordRegex = [[:alnum:]_]+|[^[:alnum:]_[:space:]]+
[rerere]
    enabled = true
[merge]
    stat = true
[init]
    templatedir = ~/.git-templates
[commit]
    gpgsign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
