[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles/console/irssi/weed"]
	path = dotfiles/console/irssi/weed
	url = https://github.com/ronilaukkarinen/weed
