[user]
    email = "jeffrey@icurse.nl"
    name = Jeffrey Lin
[push]
    default = current
[branch]
    autoSetupRebase = always
    autoSetupMerge = true
[alias]
    ls = log --oneline
    ll = log --decorate --numstat --oneline
    lg = log --graph --oneline

    wdiff = diff --color-words
    dc = diff --cached

    pushf = push --force-with-lease
[diff]
    renames = copies
    mnemonicPrefix = true
    wordRegex = [[:alnum:]_]+|[^[:alnum:]_[:space:]]+
[rerere]
    enabled = true
[rebase]
    autoSquash = true
    autoStash = true
[init]
    templateDir = ~/.git-templates
[commit]
    gpgsign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[transfer]
    fsckObjects = true
