.config/mpv/watch_later
.config/nvim/.init.vim-rplugin~
.config/nvim/.netrwhist
.config/nvim/_backup
.config/nvim/_swap
.config/nvim/_undo
.config/nvim/autoload
.config/nvim/local
.config/nvim/plugged
.config/nvim/spellfile.add*
.config/nvim/vimrc
