! Used to set configuration parameters for X client applications.

Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        112
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Fix backspace in ssh sessions
*VT100.Translations:   #override \n\
    <Key>BackSpace:    string(0x7F)\n\
    <Key>Delete:       string("\033[3~")\n\
    <Key>Home:         string("\033[1~")\n\
    <Key>End:          string("\033[4~")\n\
    Ctrl Shift <Key>S: secure()
*ttyModes: erase ^?


! {{{ Colors
*background: black
*foreground: white

*color0:  black
*color1:  red3
*color2:  green3
*color3:  yellow3
*color4:  blue
*color5:  magenta3
*color6:  cyan3
*color7:  gray90
*color8:  gray50
*color9:  red
*color10: green
*color11: yellow
*color12: rgb:5c/5c/ff
*color13: magenta
*color14: cyan
*color15: white
! }}}

! {{{ Xterm
xterm*utf8: 1

xterm*renderFont:   true
xterm*faceName:     Liberation Mono
xterm*faceSize:     9

xterm*termName:         xterm-256color
xterm*allowBoldFonts:   true
xterm*forceBoxChars:    true

xterm*metaSendsEscape:  true

xterm*saveLines:        8192

xterm*jumpScroll:       true
xterm*multiScroll:      true
xterm*fastScroll:       true
xterm*alternateScroll:  true

! Use both PRIMARY and CLIPBOARD
xterm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

xterm*bellIsUrgent: true

xterm*borderWidth: 0

! Widen line spaces (range is 0.9 - 1.5)
xterm*scaleHeight: 1.01

! Easier path selection (links and filesystem)
xterm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48

xterm*pointerColor:             black
xterm*pointerColorBackground:   white
xterm*cursorColor:              white
xterm*cursorBlink:              true
! }}}

! {{{ Emacs
Emacs.font: Liberation Mono-10
! }}}

! vim: foldmethod=marker foldlevel=0
