#!/bin/bash
# File: ~/.functions

function a {
    "$@"
    local e=$?
    [ $e != 0 ] && local urgency='--urgency=critical'

    notify-send $urgency "$*" "Process completed."
    return $e
}

function cd {
    [ $# -eq 0 ] && DIR=${HOME} || DIR=$1
    builtin pushd "${DIR}" > /dev/null
}

function pb {
    curl -F "c=@${1:--}" https://ptpb.pw/
}

function ftext {
    grep -iIHrn --color=always "$1" . | less -r
}

function genpasswd {
    tr -dc "a-zA-Z0-9-_!@#$%^&*()_+{}|:<>?=" < /dev/random | head -c "${1:-20}"
    printf "\n"
}

function weather {
    curl -sS http://wttr.in/"$1" | head -n -2
}

# create and move into directory
function mkcd {
    mkdir -p "$1"
    cd "$1"
}

# move to directory and list its contents
function lcd {
    cd "$1"
    ls
}

function shred {
    if [ $# -gt 0 ]; then
        find "$@" -type f -print0 \
            | xargs -0 shred --random-source=/dev/random --remove=wipesync --verbose --zero \
            && rm -rf "$@"
        sync
    fi
}

# vim:foldmethod=marker:foldlevel=0
